.productsTable {
  width: 100%;
  border-collapse: collapse;

  th {
    padding-bottom: 16px;
    color: #000;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;

    &.productNameTh {
      text-align: left;
    }
  }

  tbody {
    border: 1px solid #eaeaea;
    border-radius: 2px;

    tr {
      height: 112px;
      cursor: pointer;

      &:hover {
        .productName {
          color: #34c78a;
        }
      }
    }
  }

  tr {
    &:not(:last-child) {
      td {
        border-bottom: 1px solid #eaeaea;
      }
    }

    &:nth-child(even) {
      background: #f9f9f9;
    }
  }

  td {
    &.productNameTd {
      width: 256px;
    }

    &.priceTd {
      text-align: center;
    }
  }
}

.positionGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
}

.positionWrap {
  position: relative;
}

.position {
  color: #333;
  font-size: 24px;
}

.changePosition {
  position: absolute;
  top: 0;
  left: calc(100% + 2px);
  color: #34c78a;
  font-weight: 600;
  font-size: 14px;
}

.productName {
  color: #333;
  font-weight: 500;
  font-size: 16px;
}

.productImgContainer {
  display: flex;
  justify-content: center;
  height: 80px;

  img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }
}

.brandGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
}

.brandLogoContainer {
  width: 80px;
  margin-bottom: 8px;
  img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }
}

.brandName {
  color: #333;
  font-size: 16px;
}

.price {
  color: #000;
  font-weight: bold;
  font-size: 18px;
}

.ratingGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
}

.rating {
  position: relative;
  margin-bottom: 8px;
  padding: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  background: #34c78a;
  border-radius: 2px;
}
.reviews {
  color: #808080;
  font-size: 14px;
}
